<br><br>
<div class="ui container">
  <%= flash_messages %>
  <div class="ui grid">
    <div class="eight wide column">
      <h1 class="ui header">Create New Team</h1>
      <%= form_for @team do |f| %>
        <div class="ui large form">
          <div class="field">
            <label>Name</label>
            <%= f.text_field :name, placeholder: 'Name of your team' %>
          </div>

          <div class="field">
            <label>Avatar</label>
            <%= f.file_field :image_url %>
          </div>

          <%= f.submit "Create", :disable_with => 'Creating team...', class: 'ui large teal button' %>
          <%= link_to "Back", :back, class: 'ui large black button' %>
        </div>
      <% end %>
    </div>

    <div class="two wide column"></div>

    <div class="six wide column">
      <%= image_tag("team-badge.svg", class: "ui medium centered rounded image") %>

      <div class="ui medium info message">
        <div class="header"><i class="info circle icon"></i>
          What is a Team?
        </div>
        <ul class="list">
          <li>Team is a small soccer team and we need at least 5 players.</li>
          <li>Team will earn or lose point every match they played.</li>
        </ul>
      </div>
    </div>
  </div>
</div>