<br><br>
<div class="ui container">
  <%= flash_messages %>

  <div class="ui grid">
    <div class="row">
      <div class="ten wide column">
        <div class="ui basic segment" id="team-segment-bg">
          <div class="ui grid">
            <div class="five wide column">
              <%= image_tag(@team.image_url_or_default, class: "ui rounded image") %>
            </div>
            <div class="eleven wide column">
              <a class="ui inverted fluid label" id="surge-bg">
                <div class="ui inverted three statistics">
                  <div class="invi statistic" id="stat_1">
                    <div class="value">
                      <%= @team.points %>
                    </div>
                    <div class="label">
                      pts
                    </div>
                  </div>
                  <div class="invi statistic" id="stat_2">
                    <div class="value">
                      <%= image_tag("bicycle_kick.png", class: "ui circular inline image") %>
                      <%= @games_played %>
                    </div>
                    <div class="label">
                      Games Played
                    </div>
                  </div>
                  <div class="invi statistic" id="stat_3">
                    <div class="value">
                      <%= image_tag("members.png", class: "ui circular inline image") %>
                      <%= @players.count %>
                    </div>
                    <div class="label">
                      Team Members
                    </div>
                  </div>
                </div>
              </a>
              <br><br><br>
              
              <span><h1 id="elegant-text">
                <strong><%= @team.name.upcase %></strong>
              </h1></span>

              <span id="silver-text">
                Founded in <%= @team.created_at.strftime("%Y") %>
              </span>
              <br><br><br>

              <%= link_to "Find Players", players_path , class: 'ui button'%>

              <% if current_player.team_owner.team_id == @team.id %>
                <%= link_to @team_request_string, nil, class: 'ui button',
                    :id => "team_request_btn", :remote => true %>

                <%= link_to @match_invite_string, nil, class: 'ui button',
                    :id => "match_invite_btn", :remote => true %>
              <% end %>

            </div>
          </div>
        </div>
      </div>

      <div class="six wide column">
        <h1 class="ui center aligned header" id="surge-text">
          Upcoming Match
        </h1>

        <div class="ui grid">
          <div class="row">
            <div class="seven wide column">
              <h3 class="ui center aligned header" id="elegant-text">Home</h3>

              <%= image_tag(@team.image_url_or_default, class: "ui tiny centered rounded image") %>

              <h4 class="ui center aligned header" id="elegant-text"><%= @team.name %></h4>
            </div>

            <div class="two column">
              <div class="ui vertical divider" id="elegant-text">VS</div>
            </div>

            <div class="seven wide column">
              <h3 class="ui center aligned header" id="elegant-text">Away</h3>

              <%= image_tag("unknown_team.png", class: "ui tiny centered rounded image") %>

              <h4 class="ui center aligned header" id="elegant-text">???</h4>
            </div>
          </div>

          <div class="row">
            <div class="sixteen wide column">
              <h5 class="ui center aligned red header">
                Currently this team do not have any upcoming match.
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <% if current_player.team_id == @team.id %>
    <div class="ui grid">
      <div class="row">
        <div class="ten wide column">
          <h1 class="ui header" id="elegant-text">
            Squad (<%= @players.count %>)
          </h1>

          <div class="ui five link cards">
            <% @first_five_players.each do |player| %>
              <div class="ui card " id="card-bg">
                <%= image_tag(player.image_url_or_default,
                    class: "ui image") %>
                <div class="center aligned content">
                  <%= link_to player.full_name, player_path(player), class: "red-color" %>
                </div>
              </div>
            <% end %>
          </div><br>

          <% if @players.count > 5 %>
            <%= link_to "Show all", team_members_path(id: @team.id), class: "ui small  blue button" %>
          <% end %>
        </div>

        <div class="six wide column">
          <h1 class="ui header" id="elegant-text">
            Messages
          </h1>

          <div class="ui segment">
            <%= form_for [@team, TeamMessage.new()], remote: true do |f| %>
              <div class="ui form">
                <div class="fields">
                  <%= f.text_field :body, placeholder: "Your message" %><br>
                  <%= f.submit "Send", class: "ui green right floated button" %>
                </div>
              </div>
            <% end %>

            <div class="ui basic segment team-discussion-segment">
              <%= render @team_messages %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <h1 class="ui header" id="elegant-text">
      Squad (<%= @players.count %>)
    </h1>

    <div class="ui five link cards">
      <% @first_five_players.each do |player| %>
        <div class="ui card " id="card-bg">
          <%= image_tag(player.image_url_or_default,
              class: "ui image") %>
          <div class="center aligned content">
            <div class="ui small header">
              <%= link_to player.full_name, player_path(player), class: "red-color" %>
            </div>
          </div>
        </div>
      <% end %>
    </div><br><br>

    <% if @players.count > 5 %>
      <%= link_to "Show all", team_members_path(id: @team.id), class: "ui blue button" %>
    <% end %>
  <% end %>

  <br><br>
</div>


<% if current_player.team_owner.team_id == @team.id %>
  <div class="ui long modal" id="team_request_modal">
    <div class="header" id="elegant-text">Team Requests</div>

    <div class="content">
      <% if @player_requests.count > 0 %>
      <div class="ui three link cards">
        <% @player_requests.each do |player_request| %>
          <% player = player_request.player %>
          <div class="ui link card">
            <%= image_tag(player.image_url_or_default,
                class: "ui image") %>

            <div class="center aligned content">
              <div class="ui small header">
                <%= link_to player.full_name, player_path(player), class: "black-color" %>
              </div>
            </div>

            <div class="extra content">
              <% if current_player.id == @team_owner.player_id %>
                <div class="ui two buttons">
                  <%= link_to "Accept",
                      accept_team_request_path(player_id: player.id),
                                               :method => :delete, class: 'ui green button' %>
                  <%= link_to "Decline",
                      decline_team_request_path(player_id: player.id),
                                                :method => :delete, class: 'ui red button' %>
                </div>
              <% else %>
                <p>Only team leader can accept or decline the request.</p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <% else %>
        <p>No team request</p>
      <% end %>

    </div>

  </div>

  <div class="ui long modal" id="match_invite_modal">
    <div class="header" id="elegant-text">Match Invitations</div>

    <div class="content">
      <% if @match_invites.count > 0 %>
        <div class="ui three link cards">
          <% @match_invites.each do |match_invite| %>
           <div class="ui card">
              <div class="center aligned content">
                <div class="ui small header">
                  <%= Team.find(match_invite.team_received_id).name %>
                 </div>
              </div>

              <div class="extra content">
                <% if current_player.id == @team_owner.player_id %>
                  <div class="ui two buttons">
                    <%= link_to 'Accept', accept_match_request_path(match_invite),
                        class: 'ui green button' %>
                    <%= link_to 'Decline', decline_match_request_path(match_invite, team_id: @team.id),
                        class: 'ui red button' %>
                  </div>
                <% else %>
                  <p>Only team leader can accept or decline the invitation.</p>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% else %>
        <p>No match invitation</p>
      <% end %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  function reload() {
    $.get("<%=  team_team_messages_path(@team, format: :js) %>", function(response) {
      console.log("Reload successfully", response)
    })
  }

  setInterval(reload, 3000);
</script>