<br><br>
<div class="ui container">
  <%= flash_messages %>
  <div class="ui grid">
    <div class="ui row">
      <div class="five wide column">
        <h1 class="ui header">
          Team
        </h1>

        <div class="ui card">
          <%= image_tag("logo_1.png", class: "ui rounded four-three-image image") %>

          <div class="content">
            <div class="header">
              <%= @team.name %>

              <a class="ui circular blue label">
                <%= @team.points %> pts
              </a>
            </div><br>

            <div class="meta">
              <span class="date">Founded in <%= @team.created_at.strftime("%Y") %></span>
            </div>

            <div class="description">
              <p><strong>Captain: </strong><%= @team.team_owner.player.full_name %></p>
              <p><strong>Matches played: </strong><%= @number_of_matches %></p>
            </div>
          </div>
        </div>
      </div>

    <div class="eleven wide column">
      <h1 class="ui header">
        Members
      </h1>

      <div class="ui segment team-member-segment" >
        <div class="ui five link cards">
          <% @players.each do |player| %>
            <div class="ui card">
              <div class="ui basic segment card-segment-small">
                <%= link_to player_path(player) do %>
                  <%= image_tag("muller.jpg", 
                      class: "ui centered rounded card-image image") %>
                <% end %>
              </div>

              <div class="center aligned content">
                <div class="ui small header">
                  <%= link_to player.full_name, player_path(player), class: "black-color" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <% if current_player.id == @team_owner.player_id %>
        <h1 class="ui header">
          Join Requests
        </h1>

        <div class="ui segment team-request-segment" >
          <div class="ui five link cards">
            <% @player_requests.each do |player_request| %>
              <% player = player_request.player %>
              <div class="ui card">
                <div class="ui basic segment card-segment-small">
                  <%= link_to player_path(player) do %>
                    <%= image_tag("muller.jpg", 
                        class: "ui centered rounded card-image image") %>
                  <% end %>
                </div>

                <div class="center aligned content">
                  <div class="ui small header">
                    <%= link_to player.full_name, player_path(player), class: "black-color" %>
                  </div>
                </div>

                <%= link_to "Accept",
                    accept_team_request_path(player_id: player.id),
                                             :method => :delete, class: 'ui green button' %>
                <%= link_to "Decline",
                    decline_team_request_path(player_id: player.id),
                                              :method => :delete, class: 'ui red button' %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>