<div class="ui segment">
  <div class="ui basic segment articles-segment">
    <span><h3><%= article.title %></h3></span>
    <div class="meta">
      <span class="date"><%= article.created_at.strftime("%Y-%m-%d") %></span>
    </div><br>

    <span class="justify-text"><%= @markdown.render(article.body).html_safe %></span>
  </div>

  <div class="ui basic segment">
    <% if article.ref_url %>
      <%= link_to "Read more", article.ref_url, target: '_blank', class: "ui blue button" %>
    <% else %>
      <%= link_to "Read more", article_path(article), class: "ui blue button" %>
    <% end %>
  </div>
</div>
<br><br>