<br><br>
<div class="ui container">
  <%= flash_messages %>
  <h1 class="ui header" id="elegant-text">
    Soccer and Life
    <%= link_to(new_article_path) do %>
      <i class="teal write icon"></i>
    <% end %>
  </h1><br>

  <div class="ui grid">
    <div class="row">
      <div class="ten wide column">
        <%= render @articles %>
      </div>

      <div class="six wide column">
        <div class="ui segment" >
          <% 2.times do %>
            <span><h3 id="surge-text"><%= @data_fetch[:title] %></h3></span>
            <div class="content"><%= @data_fetch[:content] %></div>
            <%= link_to 'Read More', @data_fetch[:url] %>
            <div class="ui divider"></div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>