<div id="#clip-mask">
  <video class="ui fluid image home-mp4"
         src="assets/Grosso_HD.mp4"
         autoplay="true" loop="true">
  </video>
</div>

<div class="ui black inverted raise segment main-board-align" id="main-segment">
  <%= image_tag("logo-soccer-challenge.svg", class: "ui medium image") %>
  <br><br>

  <div class="ui grid">
    <div class="row">
      <div class="three wide column"></div>

      <div class="ten wide column">
        <div class="ui large form">
          <%= form_for Player.new do |f| %>
            <div class="field">
              <%= f.text_field :full_name, placeholder: 'Name' %>
            </div>

            <div class="field">
              <%= f.text_field :email, placeholder: 'Email' %>
            </div>

            <div class="field">
              <%= f.password_field :password, placeholder: 'Password' %>
            </div>

            <br>
            <%= f.submit 'Sign Up', class: 'ui large teal basic button' %>
            <a href="/auth/facebook">
              <button class="ui large facebook right floated button">
                <i class="facebook icon"></i>
                Sign In with Facebook
              </button>
            </a>
          <% end %>
        </div>
      </div>
      
      <div class="three wide column"></div>
    </div>

  </div>
</div>