<div id="#clip-mask">
  <video class="ui fluid image home-mp4"
         src="assets/Grosso_HD.mp4"
         autoplay="true" loop="true">
  </video>
</div>

<div class="ui grid main-board-align">
  <div class="row">
    <div class="two wide column"></div>
    <div class="twelve wide column">
      <h2 class="ui center aligned inverted header">New to Soccer Arena? Sign up now</h2>
      <h4 class="ui center aligned inverted header">It only takes 3 minutes!</h4>
    </div>
    <div class="two wide column"></div>
  </div>

  <div class="row">
    <div class="four wide column"></div>

    <div class="eight wide column">
      <a href="/auth/facebook">
        <button class="ui large fluid facebook right floated button">
          <i class="facebook icon"></i>
          Sign up with Facebook
        </button>
      </a>
    </div>

    <div class="four wide column"></div>
  </div>

  <div class="row">
    <div class="four wide column"></div>
    <div class="eight wide column">
      <div class="ui horizontal inverted divider">Or</div>
    </div>
    <div class="four wide column"></div>
  </div>

  <div class="row">
    <div class="four wide column"></div>

    <div class="eight wide column">

      <div class="ui large form">
        <%= form_for Player.new do |f| %>
          <div class="field">
            <div class="ui left icon input fluid">
              <i class="user icon"></i>
              <%= f.text_field :full_name, placeholder: 'Name' %>
            </div>
          </div>

          <div class="field">
            <div class="ui left icon input fluid">
              <i class="mail icon"></i>
              <%= f.text_field :email, placeholder: 'Email' %>
            </div>
          </div>

          <div class="field">
            <div class="ui left icon input fluid">
              <i class="key icon"></i>
              <%= f.password_field :password, placeholder: 'Password' %>
            </div>
          </div>

          <%= f.submit 'Sign up', class: 'ui large fluid teal button' %>
        <% end %>
      </div>
      <h4 class="ui center aligned inverted header">
        Already have an account?
        <a href="#" id="sign_in_btn" data-remote="true" style="color: #009999">Sign in</a>
      </h4>
    </div>
    
    <div class="four wide column"></div>
  </div>

</div>

<div class="ui small modal" id="sign_in_modal">
  <h3 class="ui icon header">Sign in to your account</h3>
  <div class="content">
    <div class="ui large form">
      <%= form_tag signin_path, method: 'post' do %>
        <div class="field">
          <div class="ui left icon input fluid">
            <i class="mail icon"></i>
            <%= text_field_tag :email, params[:email], placeholder: "Email" %>
          </div>
        </div>

        <div class="field">
          <div class="ui left icon input fluid">
            <i class="key icon"></i>
            <%= password_field_tag :password, nil, placeholder: "Password" %>
          </div>
        </div>
        <%= submit_tag 'Sign in', name: 'sign_in_player', class: 'ui large fluid teal button' %>
      <% end %>
    </div>
  </div>
</div>
