<br><br>
<div class="ui container">
  <%= flash_messages %>
</div>

<div class="ui container" id="top-space">

  <div class="ui three link cards">


    <a class="ui fluid link card grid" href="<%= new_match_path %>" id="home-card">
      <div class="row">
        <div class="four wide column">
          <%= image_tag("037-match.svg",
              class: "ui rounded image") %>
        </div>

        <div class="twelve wide column">
          <div class="content">
            <h3 id="surge-text">Create New Match</h3>
            <div class="ui divider" id="elegant-text"></div>
            <p class="description justify-text black-color">
              Create a new match and waiting for a brand new opponent team.
            </p>
          </div>
        </div>
      </div>
    </a>

    <a class="ui fluid link card grid" href="<%= matches_path %>" id="home-card">
      <div class="row">
        <div class="four wide column">
          <%= image_tag("037-angel.svg",
              class: "ui rounded image") %>
        </div>

        <div class="twelve wide column">
          <div class="content">
            <h3 id="surge-text">Find Match</h3>
            <div class="ui divider" id="elegant-text"></div>
            <p class="description justify-text black-color">
              Find match that already created by other teams.
            </p>
          </div>
        </div>
      </div>
    </a>

    <a class="ui fluid link card grid" href="<%= players_path %>" id="home-card">
      <div class="row">
        <div class="four wide column">
          <%= image_tag("037-football-player.svg",
              class: "ui rounded image") %>
        </div>

        <div class="twelve wide column">
          <div class="content">
            <h3 id="surge-text">Players</h3>
            <div class="ui divider" id="elegant-text"></div>
            <p class="description justify-text black-color">
              Discover other players. You can find good members for your team here.
            </p>
          </div>
        </div>
      </div>
    </a>

    <a class="ui fluid link card grid" href="<%= teams_path %>" id="home-card">
      <div class="row">
        <div class="four wide column">
          <%= image_tag("037-pennant.svg",
              class: "ui rounded image") %>
        </div>

        <div class="twelve wide column">
          <div class="content">
            <h3 id="surge-text">Teams</h3>
            <div class="ui divider" id="elegant-text"></div>
            <p class="description justify-text black-color">
              Want to play for a good team? You can find them here. Higher points mean better teams.
            </p>
          </div>
        </div>
      </div>
    </a>

    <a class="ui fluid link card grid" href="#" id="home-card">
      <div class="row">
        <div class="four wide column">
          <%= image_tag("037-trophy.svg",
              class: "ui rounded image") %>
        </div>

        <div class="twelve wide column">
          <div class="content">
            <h3 id="surge-text">Hall of Fame</h3>
            <div class="ui divider" id="elegant-text"></div>
            <p class="description justify-text black-color">
              Only 10 strongest team will be listed in this leaderboard. How strong is your team?
            </p>
          </div>
        </div>
      </div>
    </a>

    <a class="ui fluid link card grid" href="<%= articles_path %>" id="home-card">
      <div class="row">
        <div class="four wide column">
          <%= image_tag("037-fan-1.svg",
              class: "ui rounded image") %>
        </div>

        <div class="twelve wide column">
          <div class="content">
            <h3 id="surge-text">Soccer and Life</h3>
            <div class="ui divider" id="elegant-text"></div>
            <p class="description justify-text black-color">
              Write your own article about teams, players, tactics or enjoy other players articles.
            </p>
          </div>
        </div>
      </div>
    </a>

  </div>

  <br><br><br>

  <div class="ui grid">
    <div class="row">
      <div class="four wide column">
      </div>

      <div class="ui eight wide column">
        <% if current_player.free_player? %>
          <div class="ui info message">
            <div class="ui items">
              <div class="item">
                <%= image_tag("037-pennant.svg",
                    class: "ui rounded team-badge image") %>
                <div class="middle aligned content">
                  You are not playing for any team. Try to find one by select
                  <strong>
                    Teams
                  </strong>
                </div>
              </div>
            </div>
          </div>
        <% elsif current_player.team_owner.team_id %>
          <% if @num_of_members < 5 %>
            <div class="ui info message">
              <div class="ui items">
                <div class="item">
                  <%= image_tag("037-football-player.svg",
                      class: "ui rounded team-badge image") %>
                  <div class="middle aligned content">
                    Your team is not have enough players to play. Recruit more
                    <strong>
                      Players
                    </strong>
                  </div>
                </div>
              </div>
            </div>
          <% else %>
            <div class="ui info message">
              <div class="ui items">
                <div class="item">
                  <%= image_tag("037-match.svg",
                      class: "ui rounded team-badge image") %>
                  <div class="middle aligned content">
                    Your team is ready. <strong>Create a match</strong> or
                    <strong>Find a match</strong> for your team.
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="ui info message">
            <div class="ui items">
              <div class="item">
                <%= image_tag("037-fan-1.svg",
                    class: "ui rounded team-badge image") %>
                <div class="middle aligned content">
                  When you wait for your captain to create new match.
                  You can read intesting articles in
                  <strong>Soccer and Life</strong>. You can also write your own too
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="four wide column">
      </div>
    </div>
  </div>
</div>
