<div class="home-bg">
  <br><br><br>

  <div class="ui container">
    <div class="ui grid">
      <div class="row">
        <div class="eight wide column">
          <a href="<%= new_match_path %>">
            <div class="blurring dimmable image" id="image-hover-1">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <h1 class="header">Create Match</h1>

                    <h3 class="header">
                      Create a new match and waiting for a brand new opponent team.
                    </h3>
                  </div>
                </div>
              </div>
              <%= image_tag("allianz.jpg",
                  class: "ui fluid image") %>
            </div>
          </a>
        </div>

        <div class="eight wide column">
          <a href="<%= matches_path %>">
            <div class="blurring dimmable image" id="image-hover-2">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <h1 class="header">Find Match</h1>
          
                    <h3 class="header">
                      Find match that already hosted by other teams.
                    </h3>
                  </div>
                </div>
              </div>
              <%= image_tag("friendly.png",
                  class: "ui fluid image") %>
            </div>
          </a>
        </div>
      </div>
      <div class="row">

        <div class="four wide column">
          <%= image_tag("home_logo.png",
            class: "ui fluid image") %>
        </div>

        <div class="four wide column">
          <a href="<%= players_path %>">
            <div class="blurring dimmable image" id="image-hover-3">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <h1 class="header">Players</h1>

                    <h3 class="header">
                      Find good teammates to build your dream team.
                    </h3>
                  </div>
                </div>
              </div>
                <%= image_tag("player.png",
                    class: "ui fluid image") %>
            </div>
          </a>
        </div>

        <div class="four wide column">
          <a href="<%= teams_path %>">
            <div class="blurring dimmable image" id="image-hover-4">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <h1 class="header">Teams</h1>

                    <h3 class="header">
                      Want to play for a good team? You can find them here.
                    </h3>
                  </div>
                </div>
              </div>
                <%= image_tag("team.png",
                    class: "ui fluid image") %>
            </div>
          </a>
        </div>

        <div class="four wide column">
          <a href="#">
            <div class="blurring dimmable image" id="image-hover-5">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <h1 class="header">Hall of Fame</h1>

                    <h3 class="header">
                      Top 10 teams are showed here. Can your team be there?
                    </h3>
                  </div>
                </div>
              </div>
                <%= image_tag("hof.png",
                    class: "ui fluid image") %>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
  $('#image-hover-1').dimmer({
    on: 'hover'
  });

  $('#image-hover-2').dimmer({
    on: 'hover'
  });

  $('#image-hover-3').dimmer({
    on: 'hover'
  });

  $('#image-hover-4').dimmer({
    on: 'hover'
  });

  $('#image-hover-5').dimmer({
    on: 'hover'
  });
</script>