<div class="home-bg">
  <br><br><br>
  <div class="ui container">
    <div class="ui two link cards">
      <a class="ui fluid link card grid" href="<%= new_match_path %>" id="home-card-bg">
        <div class="row">
          <div class="six wide column">
            <%= image_tag("stadium.png",
                class: "ui rounded small image") %>
          </div>

          <div class="ten wide column">
            <div class="content">
              <h2 id="green-text">Create Match</h2>
              <p class="description justify-text black-color">
                Create a new match and waiting for a brand new opponent team.
              </p>
            </div>
          </div>
        </div>
      </a>

      <a class="ui fluid link card grid" href="<%= matches_path %>" id="home-card-bg">
        <div class="row">
          <div class="six wide column">
            <%= image_tag("soccer_goal.png",
                class: "ui rounded small image") %>
          </div>

          <div class="ten wide column">
            <div class="content">
              <h2 id="blue-text">Find Match</h2>
              <p class="description justify-text black-color">
                Find match that already hosted by other teams.
              </p>
            </div>
          </div>
        </div>
      </a>

      <a class="ui fluid link card grid" href="<%= players_path %>" id="home-card-bg">
        <div class="row">
          <div class="six wide column">
            <%= image_tag("soccer_player.png",
                class: "ui rounded small image") %>
          </div>

          <div class="ten wide column">
            <div class="content">
              <h2 id="red-text">Players</h2>
              <p class="description justify-text black-color">
                Take a quick look at all players. Find good teammates to build your dream team.
              </p>
            </div>
          </div>
        </div>
      </a>

      <a class="ui fluid link card grid" href="<%= teams_path %>" id="home-card-bg">
        <div class="row">
          <div class="six wide column">
            <%= image_tag("team.png",
                class: "ui rounded small image") %>
          </div>

          <div class="ten wide column">
            <div class="content">
              <h2 id="cygan-text">Teams</h2>
              <p class="description justify-text black-color">
                Want to find a good team? You can see all the teams here.
              </p>
            </div>
          </div>
        </div>
      </a>

      <a class="ui fluid link card grid" href="#" id="home-card-bg">
        <div class="row">
          <div class="six wide column">
            <%= image_tag("soccer_medal.png",
                class: "ui rounded small image") %>
          </div>

          <div class="ten wide column">
            <div class="content">
              <h2 id="orange-text">Hall of Fame</h2>
              <p class="description justify-text black-color">
                Top 50 teams are showed here. Can your team be there?
              </p>
            </div>
          </div>
        </div>
      </a>

      <a class="ui fluid link card grid" href="#" id="home-card-bg">
        <div class="row">
          <div class="six wide column">
            <%= image_tag("coach.png",
                class: "ui rounded small image") %>
          </div>

          <div class="ten wide column">
            <div class="content">
              <h2 id="purple-text">Tactical Box</h2>
              <p class="description justify-text black-color">
                Player can show their knowledge or discuss with others about soccer tactics.
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>