<div class="main-bg">
  <br><br><br><br>
  <div class="ui container">
    <div class="ui two link cards">
      <a class="ui fluid link card grid" href="<%= new_match_path %>" id="card-bg">
        <div class="row">
          <div class="six wide column">
            <%= image_tag("Host_Match.jpg",
                class: "ui circular fluid image") %>
          </div>

          <div class="ten wide column">
            <div class="content">
              <h2 class="header">Host Match</h2>
              <p class="description justify-text black-color">
                Create a new match and waiting for a brand new opponent team.
              </p>
            </div>
          </div>
        </div>
      </a>

      <a class="ui fluid link card grid" href="<%= matches_path %>" id="card-bg">
        <div class="row">
          <div class="six wide column">
            <%= image_tag("Find_Match.jpg",
                class: "ui circular fluid image") %>
          </div>

          <div class="ten wide column">
            <div class="content">
              <h2 class="header">Find Match</h2>
              <p class="description justify-text black-color">
                Find match that already hosted by other teams.
              </p>
            </div>
          </div>
        </div>
      </a>

      <a class="ui fluid link card grid" href="<%= players_path %>" id="card-bg">
        <div class="row">
          <div class="six wide column">
            <%= image_tag("Players.jpg",
                class: "ui circular fluid image") %>
          </div>

          <div class="ten wide column">
            <div class="content">
              <h2 class="header">Players</h2>
              <p class="description justify-text black-color">
                Take a quick look at all players. Find good teammates to build your dream team.
              </p>
            </div>
          </div>
        </div>
      </a>

      <a class="ui fluid link card grid" href="<%= teams_path %>" id="card-bg">
        <div class="row">
          <div class="six wide column">
            <%= image_tag("Teams.jpg",
                class: "ui circular fluid image") %>
          </div>

          <div class="ten wide column">
            <div class="content">
              <h2 class="header">Teams</h2>
              <p class="description justify-text black-color">
                Want to find a good team? You can see all the teams here.
              </p>
            </div>
          </div>
        </div>
      </a>

      <a class="ui fluid link card grid" href="#" id="card-bg">
        <div class="row">
          <div class="six wide column">
            <%= image_tag("Hall_of_Fame.jpg",
                class: "ui circular fluid image") %>
          </div>

          <div class="ten wide column">
            <div class="content">
              <h2 class="header">Hall of Fame</h2>
              <p class="description justify-text black-color">
                Top 50 teams are showed here. Can your team be there?
              </p>
            </div>
          </div>
        </div>
      </a>

      <a class="ui fluid link card grid" href="#" id="card-bg">
        <div class="row">
          <div class="six wide column">
            <%= image_tag("Stories.jpg",
                class: "ui circular fluid image") %>
          </div>

          <div class="ten wide column">
            <div class="content">
              <h2 class="header">Stories</h2>
              <p class="description justify-text black-color">
                View other players stories or show off your writting skill about soccer here.
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>