<br><br>
<div class="ui container">
  <div class="ui grid">
    <div class="ui row">
      <div class="four wide column"></div>

      <div class="eight wide column">
        <div class="ui large form">
          <h1 class="ui header">Edit Field Owner Profile</h1><br>
          <%= form_for @field_owner do |f| %>
            <div class="field">
              <%= f.label :full_name, 'Name' %>
              <%= f.text_field :full_name, placeholder: 'Name' %>
            </div>

            <div class="field">
              <%= f.label :email, 'Email' %>
              <%= f.text_field :email, placeholder: 'Email' %>
            </div>

            <div class="field">
              <%= f.label :image_url, 'Avatar' %>
              <%= f.file_field :image_url %>
            </div>

            <%= f.submit 'Change', class: 'ui large teal fluid button' %>
            <br>
            <%= link_to 'Back', field_owner_path(@field_owner), class: 'ui large black fluid button' %>
          <% end %>
        </div>
      </div>

      <div class="four wide column"></div>
    </div>
  </div>
</div>