<br><br>
<div class="ui container">
  <%= flash_messages %>
  <div class="ui grid">
    <div class="ui row">
      <div class="eight wide column">
        <div class="ui form">
          <h1 class="ui header">Sign up as Field Owner</h1><br>
            <%= form_for @field_owner do |f| %>
              <div class="field" >
                <%= f.text_field :full_name, placeholder: 'Fill your name here' %>
              </div>

              <div class="field" >
                <%= f.text_field :email, placeholder: 'Fill your email here' %>
              </div>

              <div class="field" >
                <%= f.file_field :image_url, placeholder: 'Avatar' %>
              </div>

              <div class="field" >
                <%= f.password_field :password, placeholder: 'Fill your password here' %>
              </div>

              <br>
              <%= f.submit 'Create Field Owner', class: 'ui green button' %>
              <%= link_to 'You are Player ?', new_player_path, class: 'ui blue button' %>
            <% end %>
        </div>
      </div>

      <div class="two wide column">
      </div>

      <div class="six wide column">
        <%= image_tag("paul.jpg", class: "ui fluid rounded image") %>

        <div class="ui medium info message">
          <div class="header"><i class="info circle icon"></i>
            Who is Field Owner?
          </div>
          <ul class="list">
            <li>Field Owner is the person who have fields for rent.</li>
            <li>Soccer Challenge provide nice service for you to manage your fields.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>