<br><br>
<div class="ui container">
  <%= flash_messages %>
  <div class="ui grid">
    <div class="row">
      <div class="four wide column"></div>
      <div class="eight wide column">
        <div class="ui large form">
          <h1 class="ui header">Sign up as Field Owner</h1>
          <%= form_for @field_owner do |f| %>
            <div class="field">
              <%= f.label :full_name, 'Name' %>
              <%= f.text_field :full_name, placeholder: 'Name' %>
            </div>

            <div class="field">
              <%= f.label :email %>
              <%= f.text_field :email, placeholder: 'Email' %>
            </div>

            <div class="field">
              <%= f.label :password %>
              <%= f.password_field :password, placeholder: 'Password' %>
            </div>

            <div class="field">
              <%= f.label :image_url, 'Avatar' %>
              <%= f.file_field :image_url %>
            </div>
            
            <br>
            <%= link_to 'You are Player ?', new_player_path, class: 'ui large blue button' %>
            <%= f.submit 'Create Field Owner', class: 'ui large teal button' %>

          <% end %>
        </div>

        <div class="ui medium info message">
          <div class="header"><i class="info circle icon"></i>
            Who is Field Owner?
          </div>
          <ul class="list">
            <li>Field Owner is the person who have fields for rent.</li>
            <li>Soccer Challenge provide nice service for you to manage your fields.</li>
          </ul>
        </div>
      </div>

      <div class="four wide column"></div>
    </div>
  </div>
</div>