<br><br>
<div class="ui container">
  <%= flash_messages %>
  <div class="ui grid">
    <div class="five wide column">
      <h1 class="ui header">Field</h1>
      <div class="ui card" id="field-owner-card">
        <div class="custom_img" style="background-image: url(<%= @field_owner.image_url_or_default %>);"></div>
        <div class="content">
          <span><h3 id="elegant-text">
            <%= @field_owner.full_name %>
            <% if current_field_owner == @field_owner %>
              <%= link_to(edit_field_owner_path(current_field_owner)) do %>
                <i class="teal edit icon"></i>
              <% end %>
            <% end %>
          </h3></span>
          <div class="meta">
            <span class="date">Joined in <%= @field_owner.created_at.strftime("%Y-%m-%d") %></span>
          </div>
        </div>
      </div>
    </div>
    <div class="eleven wide column">
      <h1 class="ui header">Booking Statistic</h1>
      <div class="field-owner-calendar"></div>
    </div>
  </div>
</div>