<br><br>
<div class="ui container">
  <div class="ui grid">
    <div class="ui row">
      <div class="four wide column">
      </div>

      <div class="eight wide column">
        <div class="ui large form">
          <h1 class="ui header">Edit Player Profile</h1><br>
          <%= form_for @player do |f| %>
            <div class="field">
              <%= f.label :full_name, 'Name' %>
              <%= f.text_field :full_name, placeholder: 'Name' %>
            </div>

            <div class="field">
              <%= f.label :nickname, 'Nickname' %>
              <%= f.text_field :nickname, placeholder: 'Your nickname' %>
            </div>

             <div class="field">
              <%= f.label :favorite_team, 'Favorite Team' %>
              <%= f.text_field :favorite_team,
                  placeholder: 'Italy, Spain, Arsenal,...' %>
            </div>

            <div class="field">
              <%= f.label :favorite_player, 'Your Favorite Player' %>
              <%= f.text_field :favorite_player, placeholder: 'Ronaldinho, Ronaldo, Messi,..' %>
            </div>

            <div class="field">
              <%= f.label :image_url, 'Avatar' %>
              <%= f.file_field :image_url %>
            </div>

            <br>
            <%= f.submit 'Change', class: 'ui large teal button' %>
            <%= link_to 'Back', player_path(@player), class: 'ui large black button' %>
          <% end %>
        </div>
      </div>

      <div class="four wide column">
      </div>
    </div>
  </div>
</div>