<br><br>
<div class="ui container">
  <%= flash_messages %>
  <div class="ui grid">
    <div class="ui row">
      <div class="eight wide column">
        <div class="ui form">
          <h1 class="ui header">Sign up as Player</h1><br>
            <%= form_for @player do |f| %>
              <div class="field" >
                <%= f.text_field :full_name, placeholder: 'Fill your name here' %>
              </div>

              <div class="field" >
                <%= f.text_field :email, placeholder: 'Fill your email here' %>
              </div>

              <div class="field" >
                <%= f.password_field :password, placeholder: 'Fill your password here' %>
              </div>

              <br>
              <%= f.submit 'Create Player', class: 'ui green button' %>
              <%= link_to 'You are Field Owner ?', new_field_owner_path, class: 'ui blue button' %>
            <% end %>
        </div>
      </div>

      <div class="two wide column">
      </div>

      <div class="six wide column">
        <%= image_tag("muller.jpg", class: "ui fluid rounded image") %>

        <div class="ui medium info message">
          <div class="header"><i class="info circle icon"></i>
            Who is Player?
          </div>
          <ul class="list">
            <li>Player mean Soccer Player.</li>
            <li>Player play for a team and help their team become famous.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>