<br><br>
<div class="ui container">
  <%= flash_messages %>
  <div class="ui grid">
    <div class="five wide column">
      <h1 class="ui header" id="elegant-text">
        Profile
      </h1>

      <div class="ui fluid card">

        <div class="image">
          <%= image_tag(@player.image_url_or_default,
              class: "ui image") %>
        </div>

        <div class="content">
          <span><h3 id="elegant-text">
            <%= @player.full_name %>
          </h3></span>

          <div class="meta">
            <span class="date">Joined in <%= @player.created_at.strftime("%Y-%m-%d") %></span>
          </div><br>

          <div class="description">
            <% if @team %>
              <a href="<%= team_path(@team) %>">
                <%= image_tag(@team.image_url_or_default,
                    class: "ui circular image team-badge") %>
                <strong id="elegant-text"><%= @team.name %></strong>
              </a>
            <% else %>
                <%= image_tag("037-pennant.svg",
                    class: "ui image mini") %>
                <span><strong id="elegant-text">Free Player</strong></span>
            <% end %>
            <br><br>

            <p>Nickname: </p>
            <p>Favorite Number: </p>
            <p>Favorite Player: </p>
          </div>
        </div>

        <% unless current_player.team_id %>
          <% if @player == current_player %>
            <div class="ui two bottom attached buttons">
            <%= link_to 'Create Team', new_team_path, class: 'ui teal button' %>
            <%= link_to 'Invitation', nil, class: 'ui teal button' %>
            </div>
          <% end %>
        <% end %>

      </div>
    </div>

    <% if current_player.id == @player.id %>
      <div class="eleven wide column">
          <h1 id="elegant-text">
            Team Invitations
          </h1>

            <div class="ui four link cards">
              <% @team_invitations.each do |team_invitation| %>
                <% team = team_invitation.team %>

                <div class="ui card">
                  <%= link_to team_path(team) do %>
                    <%= image_tag(team.image_url_or_default, 
                        class: "ui image") %>
                  <% end %>

                  <div class="center aligned content">
                    <div class="ui tiny header">
                      <%= link_to team.name, team_path(team), class: "black-color" %>
                    </div>
                  </div>

                  <div class="extra content">
                    <div class="ui two mini buttons">
                      <%= link_to "Accept",
                          accept_team_request_path(team_id: team.id),
                                                   :method => :delete,
                                                   class: 'ui green button' %>
                      <%= link_to "Decline",
                          decline_team_request_path(team_id: team.id),
                                                    :method => :delete,
                                                    class: 'ui red button' %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>

      </div>
    <% end %>
  </div>
</div>