<%= form_for @match, remote: true do |f| %>
  <div class="field">
    <label><strong>Field:</strong></label>
    <%= f.select :field_id, Field.where(venue_id: @match.venue_id).map {|f| [f.name, f.id]} %>
  </div>
  <div class="field">
    <label>Start</label>
    <%= f.text_field :starts_at, id: 'start-time' %>
  </div>
  <div class="field">
    <label>End</label>
    <%= f.text_field :ends_at, id: 'end-time' %>
  </div>
  <%= f.submit "Submit", class: 'ui large green button' %>
<% end %>