<br><br>
<div class="ui container">
  <%= flash_messages %>
  <div class="ui grid">
    <div class="eight wide column">
      <h1 class="ui header">Edit Match</h1>
      <div class="ui large form">
        <%= form_for @match do |f| %>
          <div class="field">
            <%= f.label :home_goal %>
            <%= f.text_field :home_goal %>
          </div>
          <div class="field">
            <%= f.label :away_goal %>
            <%= f.text_field :away_goal %>
          </div>
          <% if @match.home_goal and @match.away_goal %>
            <% if current_player.email == "admin@soccerchallenge.com" %>
              <% if @match.is_end %>
                <p>Match result was verified.</p>
              <% else %>
                <%= f.submit "Verify", class: 'ui large teal button' %>
              <% end %>
            <% else %>
              <% if @match.is_end %>
                <p>Match result was verified.</p>
              <% else %>
                <p>Match result was submitted.</p>
              <% end %>
            <% end %>
          <% else %>
            <%= f.submit "Submit", class: 'ui large teal button' %>
          <% end %>
          <%= link_to "Back", match_path(@match), class: 'ui large black button'%>
        <% end %>
      </div>
    </div>
    <div class="two wide column"></div>

    <div class="six wide column">
      <%= image_tag("match.jpg", class: "ui fluid rounded image") %>

      <div class="ui medium info message">
        <div class="header"><i class="info circle icon"></i>
          What is a Match?
        </div>
        <ul class="list">
          <li>Friendly game between two teams</li>
          <li>May be used to settle a challenge</li>
        </ul>
      </div>
    </div>
  </div>
</div>