<br><br>
<div class="ui container">
  <%= flash_messages %>
  <div class="ui three cards">
    <% @matches.each do |match| %>
      <div class="card">
        <div class="content">
          <div class="header"><%= match.home_team_name %></div>
          <div class="description">
            <%= match.venue_name %><br>
            Start: <%= match.starts_at.strftime("%Y/%m/%d - %H:%M") %>
          </div>
        </div>
        <%= link_to 'Join', match_requests_path(match_id: match), method: 'post', class: 'ui green attached button' %>
      </div>
    <% end %>
  </div>
</div>