<br><br>
<div class="ui container">
  <%= flash_messages %>

  <div class="ui three link cards">
    <% @matches.each do |match| %>
      <div class="card" id="match-card">
        <a><div class="custom_img" style="background-image: url(http://i.imgur.com/TRmGlnzh.jpg);"></div></a>
        <div class="content">
          <div class="header" id="surge-text"><%= match.home_team_name %></div>
          <br>
          <div class="meta">
            <span>
              <i class="clock icon"></i>
              <%= match.starts_at.strftime("%Y/%m/%d - %H:%M") %>
            </span>
            <span class="right floated">
              <i class="marker icon"></i>
              <%= match.venue_name %>
            </span>
          </div>
        </div>
        <% if match.is_start || match.is_old || match.is_end || current_player.team_owner.team_id == nil %>
          <%= link_to 'View', match_path(match), class: 'ui attached button' %>
        <% else %>
          <% if match.team_owner_id == current_player.team_id || match.team_away_id == current_player.team_id %>
            <%= link_to 'View', waiting_match_path(match), class: 'ui attached button' %>
          <% else %>
            <% if @match_invitations.where(team_received_id: match.team_owner_id).count == 0 %>
              <% if @match_requests.where(team_received_id: match.team_owner_id).count == 0 %>
                <%= link_to 'Join', join_match_requests_path(match_id: match), method: 'post', class: 'ui teal attached button' %>
              <% else %>
                <%= link_to 'Cancel', decline_match_request_path(@match_requests.where(match_id: match.id).first.id, team_id: current_player.team_id) ,class: 'ui black attached button' %>
              <% end %>
            <% else %>
              <div class="ui two buttons">
                <%= link_to 'Accept', accept_match_request_path(@match_invitations.where(match_id: match.id).first.id), class: 'ui teal attached button' %>
                <%= link_to 'Decline', decline_match_request_path(@match_invitations.where(match_id: match.id).first.id, team_id: current_player.team_id), class: 'ui black attached button' %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>