<br><br>
<div class="ui container">
  <%= flash_messages %>
  <div class="ui grid">
    <div class="eight wide column">
      <h1 class="ui header">Create New Match</h1>
      <div class="ui large form">
        <%= form_for @match do |f| %>
          <div class="field">
            <label>District</label>
            <%= f.select :venue_id, Venue.all.map {|v| [v.name, v.id]} %>
          </div>
          <div class="field">
            <label>Start</label>
            <%= f.text_field :starts_at, id: 'start-time' %>
          </div>
          <%= f.submit "Create", class: 'ui large green button' %>
        <% end %>
      </div>
    </div>
    <div class="two wide column"></div>

    <div class="six wide column">
      <%= image_tag("muller.jpg", class: "ui fluid rounded image") %>

      <div class="ui medium info message">
        <div class="header"><i class="info circle icon"></i>
          What is a Match?
        </div>
        <ul class="list">
          <li>Team.</li>
          <li>Team.</li>
        </ul>
      </div>
    </div>
  </div>
</div>