<br><br>
<div class="ui container">
  <%= flash_messages %>
  <div class="ui grid">
    <div class="ten wide column">

      <h1 class="ui blue header">Home: <%= @home_team.name %></h1>
      <div class="ui five cards">
        <% @home_team_players.each do |player| %>
          <div class="card">
            <a href="<%= player_path(player) %>"><div class="custom_img" style="background-image: url(<%= player.image_url_or_default %>);"></div></a>
            <div class="center aligned content">
              <div class="ui small header"><%= player.full_name %></div>
            </div>
          </div>
        <% end %>
      </div>

      <h1 class="ui red header">Away: <%= @away_team.name %></h1>
      <div class="ui five cards">
        <% @away_team_players.each do |player| %>
          <div class="card">
          <a href="<%= player_path(player) %>"><div class="custom_img" style="background-image: url(<%= player.image_url_or_default %>);"></div></a>
            <div class="center aligned content">
              <div class="ui small header"><%= player.full_name %></div>
            </div>
          </div>
        <% end %>
      </div>

    </div>

    <div class="six wide column">
      <h1 class="ui header">Match Information</h1>
      <div class="ui large message">
        <div class="ui list">
          <div class="item">
            <i class="marker icon"></i>
            <div class="content">
              <strong>District:</strong>
              <%= @match.venue_name %>
            </div>
          </div>

          <div class="item">
            <i class="marker icon"></i>
            <div class="content">
              <strong>Field:</strong>
              <%= @match.field_name %>
            </div>
          </div>

          <div class="item">
            <i class="clock icon"></i>
            <div class="content">
              <strong>Start:</strong>
              <%= @match.starts_at.strftime("%Y/%m/%d - %H:%M") %>
            </div>
          </div>

          <div class="item">
            <i class="clock icon"></i>
            <div class="content">
              <strong>End:</strong>
              <%= @match.ends_at.strftime("%Y/%m/%d - %H:%M") %>
            </div>
          </div>
        </div>
      
      </div>
    </div>

  </div>
</div>