<br><br>
<div class="ui container">
  <%= flash_messages %>
  <div class="ui grid">
    <div class="row">
      <div class="column">
        <a href="<%= waiting_match_path(@match) %>">
          <div class="circular ui icon black button">
            <i class="chevron left icon"></i>
          </div>
        </a>
      </div>
      <div class="fourteen wide column"></div>
      <div class="column"></div>
    </div>

    <div class="row">
      <div class="ui basic segment" id="match-segment-bg">
        <div class="ui grid">

          <div class="two wide column">
            <h1 class="ui header" id="match-text-color">Home</h1>
            <div class="ui middle aligned relaxed animated list">
              <% @home_team_players.each do |player| %>
                <div class="item">
                  <img src="<%= player.image_url_or_default %>" alt="<%= player.full_name %>" class="ui avatar image">
                  <div class="content">
                    <a href="<%= player_path(player) %>" class="header"><%= player.full_name %></a>
                  </div>
                </div>
              <% end %>
            </div>
          </div>

          <div class="four wide column">
            <%= image_tag(@home_team.image_url_or_default, class: "ui large centered rounded image") %>
            <h4 class="ui huge center aligned header" id="team-text-color"><%= @home_team.name %></h4>
          </div>

          <div class="four wide column">
            <div id="match-segment-top">
              <span id="match-segment-content">
                <div class="ui three large statistics">
                  <div class="statistic">
                    <div class="value" id="match-text-color"><%= @match.home_goal_or_default %></div>
                  </div>
                  <div class="statistic">
                    <div class="value" id="match-text-color">-</div>
                  </div>
                  <div class="statistic">
                    <div class="value" id="match-text-color"><%= @match.away_goal_or_default %></div>
                  </div>
                </div>
              </span>
            </div>

            <div id="match-segment-bottom">
              <span class="match-segment-content">
                <h1 class="ui header">
                  <%= @match.field_name_or_default %>
                  <div class="sub header"><%= @match.starts_at.strftime("%Y/%m/%d") %></div>
                  <div class="sub header"><%= @match.starts_at.strftime("%H:%M") %> - <%= @match.ends_at_or_default.strftime("%H:%M") %></div>
                </h1>
              </span>
            </div>
          </div>

          <div class="four wide column">
            <div class="away-team">
              <% if @away_team %>
                <%= image_tag(@away_team.image_url_or_default, class: "ui large centered rounded image") %>
                <h4 class="ui huge center aligned header" id="team-text-color"><%= @away_team.name %></h4>
              <% else %>
                <%= image_tag("team-badge.svg", class: "ui large centered rounded image") %>
                <h4 class="ui huge center aligned header" id="team-text-color">???</h4>
              <% end %>
            </div>
          </div>

          <div class="two wide column">
            <h1 class="ui header" id="match-text-color">Away</h1>
            <div class="away-team-players">
              <div class="ui middle aligned relaxed animated list">
                <% if @away_team_players %>
                  <% @away_team_players.each do |player| %>
                    <div class="item">
                      <img src="<%= player.image_url_or_default %>" alt="<%= player.full_name %>" class="ui avatar image">
                      <div class="content">
                        <a href="<%= player_path(player) %>" class="header">
                          <%= player.full_name %>
                        </a>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <% if @is_host_or_admin %>
        <%= link_to 'Update Score', nil,
            class: 'ui teal button', id: "update_score_btn", remote: true %>
      <% end %>
      <% if @player_result == nil %>
        <% if @played_this_match %>
          <%= link_to 'Update Your Goal', nil,
              class: 'ui teal button', id: "update_goal_btn", remote: true %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<% if @is_host_or_admin %>
  <div class="ui compact modal" id="update_score_modal">
    <div class="header" id="elegant-text">Update Score</div>

    <div class="content">

      <div class="ui large form">
        <%= form_for @match do |f| %>
          <div class="field">
            <%= f.label :home_goal %>
            <%= f.text_field :home_goal %>
          </div>
          <div class="field">
            <%= f.label :away_goal %>
            <%= f.text_field :away_goal %>
          </div>
          <% if @match.home_goal and @match.away_goal %>
            <% if current_player.email == "admin@soccerchallenge.com" %>
              <% if @match.is_end %>
                <p>Match result was verified.</p>
              <% else %>
                <%= f.submit "Verify", class: 'ui large teal button' %>
              <% end %>
            <% else %>
              <% if @match.is_end %>
                <p>Match result was verified.</p>
              <% else %>
                <p>Match result was submitted.</p>
              <% end %>
            <% end %>
          <% else %>
            <%= f.submit "Submit", class: 'ui large teal button' %>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
<% end %>

<% if @player_result == nil %>
  <% if @played_this_match %>
    <div class="ui compact modal" id="update_goal_modal">
      <div class="header" id="elegant-text">Update Your Goal</div>

      <div class="content">
        <div class="ui large form">
          <%= form_for PlayerResult.new do |f| %>
            <div class="field">
              <%= f.text_field :goal,
                  placeholder: "Number of goals you score in this match"%><br>
            </div>
            <%= hidden_field_tag(:match_id, @match.id) %>
            <%= f.submit "Submit", class: 'ui large teal button' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>