<br><br>
<div class="ui container">
  <%= flash_messages %>
  <div class="ui grid">
    <div class="row">
      <div class="column">
        <a href="<%= signed_in_index_path %>">
          <div class="circular ui icon black button">
            <i class="chevron left icon"></i>
          </div>
        </a>
      </div>
      <div class="fourteen wide column"></div>
      <div class="column">
        <a href="<%= select_match_path(@match) %>">
          <div class="circular ui icon teal button">
            <i class="chevron right icon"></i>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="ui basic segment" id="match-segment-bg">
        <div class="ui grid">

          <div class="two wide column">
            <h1 class="ui header" id="match-text-color">Home</h1>
            <div class="ui middle aligned relaxed animated list">
              <% @home_team_players.each do |player| %>
                <div class="item">
                  <img src="<%= player.image_url_or_default %>" alt="<%= player.full_name %>" class="ui avatar image">
                  <div class="content">
                    <a href="<%= player_path(player) %>" class="header"><%= player.full_name %></a>
                  </div>
                </div>
              <% end %>
            </div>
          </div>

          <div class="four wide column">
            <%= image_tag(@home_team.image_url_or_default, class: "ui centered rounded image") %>
            <h4 class="ui huge center aligned header" id="team-text-color"><%= @home_team.name %></h4>
          </div>

          <div class="four wide column">
            <div id="match-segment-top">
              <span id="match-segment-content">
                <div class="ui three large statistics">
                  <div class="statistic">
                    <div class="value" id="match-text-color"><%= @match.home_goal_or_default %></div>
                  </div>
                  <div class="statistic">
                    <div class="value" id="match-text-color">-</div>
                  </div>
                  <div class="statistic">
                    <div class="value" id="match-text-color"><%= @match.away_goal_or_default %></div>
                  </div>
                </div>
              </span>
            </div>

            <div id="match-segment-bottom">
              <span class="match-segment-content">
                <div class="ui three mini statistics">
                  <div class="statistic"></div>
                  <div class="statistic">
                    <div class="value" id="match-text-color"><%= @match.venue_name %></div>
                    <br>
                    <% if @match.team_owner_id == current_player.team_owner.team_id %>
                      <%= link_to 'Select Field', select_match_path(@match), class: 'ui teal button' %>
                    <% else %>
                      <%= link_to 'View', match_path(@match), class: 'ui button' %>
                    <% end %>
                  </div>
                  <div class="statistic"></div>
                </div>
              </span>
            </div>
          </div>

          <div class="four wide column">
            <div class="away-team">
              <% if @away_team %>
                <%= image_tag(@away_team.image_url_or_default, class: "ui large centered rounded image") %>
                <h4 class="ui huge center aligned header" id="team-text-color"><%= @away_team.name %></h4>
              <% else %>
                <%= image_tag("team-badge.svg", class: "ui large centered rounded image") %>
                <h4 class="ui huge center aligned header" id="team-text-color">???</h4>
              <% end %>
            </div>
          </div>

          <div class="two wide column">
            <h1 class="ui header" id="match-text-color">Away</h1>
            <div class="away-team-players">
              <div class="ui middle aligned relaxed animated list">
                <% if @away_team_players %>
                  <% @away_team_players.each do |player| %>
                    <div class="item">
                      <img src="<%= player.image_url_or_default %>" alt="<%= player.full_name %>" class="ui avatar image">
                      <div class="content">
                        <a href="<%= player_path(player) %>" class="header"><%= player.full_name %></a>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="twelve wide column">
        <%= form_for [@match, MatchMessage.new], remote: true do |f| %>
          <div class="ui form">
            <div class="fields">
              <%= f.text_field :body, placeholder: 'New message', required: true %>
              <%= f.submit 'Send', class: 'ui teal right floated button' %>
            </div>
          </div>
        <% end %>

        <div class="match-messages-segment">
          <%= render @match_messages %>
        </div>
      </div>

      <div class="four wide column">
        <% if @match.team_owner_id == current_player.team_owner.team_id %>
          <div class="ui buttons">
            <%= link_to 'Available Teams', nil, class: 'ui teal button', id: 'available_teams_btn', remote: true %>
            <div class="or"></div>
            <%= link_to 'Match Requests', nil, class: 'ui teal button', id: 'match_requests_btn', remote: true %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if @match.team_owner_id == current_player.team_owner.team_id %>
  <div class="ui small modal" id="available_teams_modal">
    <div class="header">Available Teams</div>

    <div class="ui basic segment">

      <%= form_tag waiting_match_path(@match), method: 'get', id: 'available_teams_search' do %>
        <div class="ui form">
          <div class="fields">
            <%= text_field_tag :search, params[:search], placeholder: 'Search available teams' %>
          </div>
        </div>
      <% end %>

      <div id='available_teams'>
        <%= render 'matches/available_teams', available_teams: @available_teams, match: @match %>
      </div>

    </div>
  </div>

  <div class="ui small modal" id="match_requests_modal">
    <div class="header">Match Requests</div>
    <% if @pending_requests.count > 0 %>
      <div class="ui basic segment">
        <div class="ui large middle aligned relaxed list">
          <% @pending_requests.each do |request| %>
            <div class="item">
              <div class="right floated content">
                <%= link_to 'Accept', accept_match_request_path(id: request.id, match_id: @match), class: 'ui teal button' %>
                <%= link_to 'Decline', match_request_path(id: request.id, match_id: @match.id), method: 'delete', class: 'ui black button' %>
              </div>
              <img src="<%= Team.find(request.team_id).image_url_or_default %>" alt="<%= Team.find(request.team_id).name %>" class="ui avatar image">
              <div class="content">
                <a href="<%= team_path(request.team_id) %>" class="header"><%= Team.find(request.team_id).name %></a>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="content">
        There are no requests now
      </div>
    <% end %>
  </div>
<% end %>

<script>
  function reload() {
    $.get("<%= match_match_messages_path(@match, format: :js) %>", function(response) {
      console.log("Reload match messages successfully", response)
    });
  }

  function reloadAway() {
    $.get("<%= away_match_path(@match, format: :js) %>", function(response) {
      console.log("Reload away team successfully", response)
    })
  }

  var interval_1 = setInterval(reload, 3000);
  var interval_2 = setInterval(reloadAway, 10000);
</script>