<br><br>
<div class="ui container">
  <%= flash_messages %>
  <div class="ui grid">
    <div class="row">
      <div class="twelve wide column">
        <div class="ui basic segment" id="match-segment-bg">
          <div class="ui grid">
            <div class="five wide column">
              <%= image_tag(@home_team.image_url_or_default, class: "ui centered rounded image") %>
              <h4 class="ui huge center aligned header" id="team-text-color"><%= @home_team.name %></h4>
            </div>

            <div class="six wide column">
              <div id="match-segment-top">
                <span id="match-segment-content">
                  <div class="ui three large statistics">
                    <div class="statistic">
                      <div class="value" id="match-text-color"><%= @match.home_goal_or_default %></div>
                    </div>
                    <div class="statistic">
                      <div class="value" id="match-text-color">VS</div>
                    </div>
                    <div class="statistic">
                      <div class="value" id="match-text-color"><%= @match.away_goal_or_default %></div>
                    </div>
                  </div>
                </span>
              </div>

              <div id="match-segment-bottom">
                <span class="match-segment-content">
                  <div class="ui three mini statistics">
                    <div class="statistic"></div>
                    <div class="statistic">
                      <div class="value" id="match-text-color"><%= @match.venue_name %></div>
                      <br>
                      <% if @match.team_owner_id == current_player.team_owner.team_id %>
                          <%= link_to 'Select Field', select_match_path(@match), class: 'ui green button' %>
                      <% else %>
                        <div class="ui basic center aligned segment">
                          <%= link_to 'View', match_path(@match), class: 'ui massive blue button' %>
                        </div>
                      <% end %>
                    </div>
                    <div class="statistic"></div>
                  </div>
                </span>
              </div>
            </div>

            <div class="five wide column">
              <div class="away-team">
                <%= image_tag("unknown_team.png", class: "ui centered rounded image") %>
                <h4 class="ui huge center aligned header" id="team-text-color">???</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="four wide column">

      </div>
    </div>

    <div class="row">
      <div class="twelve wide column">
        <div class="ui segment">
          <%= form_for [@match, MatchMessage.new], remote: true do |f| %>
            <div class="ui form">
              <div class="fields">
                <%= f.text_field :body, placeholder: 'New message', required: true %>
                <%= f.submit 'Send', class: 'ui green right floated button', style: 'display: none' %>
              </div>
            </div>
          <% end %>

          <div class="match-messages-segment ui basic segment">
            <%= render @match_messages %>
          </div>
        </div>
      </div>

      <div class="four wide column">
        <% if @match.team_owner_id == current_player.team_owner.team_id %>
          <div class="ui buttons">
            <%= link_to 'Available Teams', nil, class: 'ui button', id: 'available_teams_btn', remote: true %>
            <div class="or"></div>
            <%= link_to 'Match Requests', nil, class: 'ui button', id: 'match_requests_btn', remote: true %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="ui modal" id="available_teams_modal">
  <div class="header">Available Teams</div>
  <div class="ui list">
    <% @available_teams.each do |team| %>
      <div class="item">
        <div class="ui basic segment">
          <%= link_to team.name, team_path(id: team.id) %>
          <%= link_to 'Invite', invite_match_requests_path(match_id: @match, team_id: team), class: 'ui green mini right floated button' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="ui modal" id="match_requests_modal">
  <div class="header">Match Requests</div>
  <div class="ui list">
    <% @pending_requests.each do |request| %>
      <div class="item">
        <div class="ui basic segment">
          <div class="header"><%= Team.find(request.team_id).name %></div>
        
          <div class="ui two buttons">
            <%= link_to 'Accept', accept_match_request_path(request, match_id: @match), class: 'ui green right floated button' %>
            <%= link_to 'Decline', decline_match_request_path(request, match_id: @match), class: 'ui red right floated button' %>
          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  function reload() {
    $.get("<%= match_match_messages_path(@match, format: :js) %>", function(response) {
      console.log("Reload successfully", response)
    });
  }

  function reloadAway() {
    $.get("<%= away_team_path(@away_team, format: :js) if @away_team %>", function(response) {
      console.log("Reload successfully", response)
    });
  }

  setInterval(reload, 3000);
  // setInterval(reloadAway, 3000);
</script>