<br><br>
<div class="ui container">
  <%= flash_messages %>
  <div class="ui grid">
    <div class="row">
      <div class="seven wide column">
        <h3 class="ui center aligned header" id="team-text-color">Home</h3>

        <%= image_tag(@home_team.image_url_or_default, class: "ui small centered rounded image") %>

        <h4 class="ui huge center aligned header" id="team-text-color"><%= @home_team.name %></h4>
      </div>

      <div class="two column">
        <div class="ui vertical divider" id="team-text-color">VS</div>
      </div>

      <div class="seven wide column">
        <h3 class="ui center aligned header" id="team-text-color">Away</h3>
        <div class="away-team">
          <%= image_tag("unknown_team.png", class: "ui small centered rounded image") %>
          <h4 class="ui huge center aligned header" id="team-text-color">???</h4>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="ten wide column">
        <div class="ui basic segment">
          <%= form_for [@match, MatchMessage.new], remote: true do |f| %>
            <div class="ui form">
              <div class="fields">
                <%= f.text_field :body, placeholder: 'New message', required: true %>
                <%= f.submit 'Send', class: 'ui green right floated button', style: 'display: none' %>
              </div>
            </div>
          <% end %>

          <div class="match-messages ui basic segment">
            <%= render @match_messages %>
          </div>
        </div>
      </div>

      <div class="six wide column">
        <% if @match.team_owner_id == current_player.team_owner.team_id %>
          <div class="ui basic center aligned segment">
            <%= link_to 'Select Field', select_match_path(@match), class: 'ui massive green button' %>
          </div>
        <% else %>
          <div class="ui basic center aligned segment">
            <%= link_to 'View', match_path(@match), class: 'ui massive blue button' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  function reload() {
    $.get("<%= match_match_messages_path(@match, format: :js) %>", function(response) {
      console.log("Reload successfully", response)
    });
  }

  function reloadAway() {
    $.get("<%= away_team_path(@away_team, format: :js) if @away_team %>", function(response) {
      console.log("Reload successfully", response)
    });
  }

  // setInterval(reload, 3000);
  // setInterval(reloadAway, 3000);
</script>