<%= form_for [current_field_owner, field] do |f| %>
  <div class="field">
    <%= f.label :Name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :Address %>
    <%= f.text_field :addr %>
  </div>

  <div class="field"> 
    <%= f.label :Venue %>
    <%= f.select :venue_id, options_from_collection_for_select(Venue.all, "id", "name") %>
  </div>

  <div class="field">
    <%= f.label :Image %> 
    <%= f.file_field :image_url %>
  </div>
  
  <%= f.submit 'Submit', class: 'ui green large right floated button' %>
<% end %>