<br><br>
<div class="ui container">
  <div class="ui two link cards">
    <% @fields.each do |field| %>
      <div class="card" id="field-card">
        <a href="<%= field_owner_field_path(id: field) %>"><div class="custom_img" style="background-image: url(<%= field.image_url_or_default %>);"></div></a>
        <div class="center aligned content">
          <div class="ui header">
            <%= field.name  %>
          </div>
        </div>
        <div class="ui two attached buttons">
          <%= link_to 'View', field_owner_field_path(id: field), class: 'ui teal button' %>
          <%= link_to 'Edit', edit_field_owner_field_path(id: field), class: 'ui blue button' %>
        </div>
        <div class="extra center aligned content"></div>
      </div>
    <% end %>
  </div>
</div>