<div class="ui top fixed large inverted borderless menu" id="surge-bg">
  <div class="ui container">
    <a class="item" href="<%= root_path %>">
      <%= image_tag("logo-no-text.svg", class: "ui nav-image image") %>
      <strong class="nav-text">SOCCER CHALLENGE</strong>
    </a>
    <% if current_player %>
    <% elsif current_field_owner %>
      <a class="item" href="<%= field_owner_fields_path(field_owner_id: current_field_owner) %>">Fields</a>
    <% end %>
    <div class="right menu">
      <% if current_player %>
        <div class="ui inline dropdown item">
          <span id="notifications_count"> </span> <i class="alarm icon"> </i> 
          <%= render 'notifications/notification_dropdown' %>
          
        </div>

        <div class="ui inline dropdown item">
          <%= current_player %> <i class="dropdown icon"></i>

          <div class="ui menu">
            <%= link_to "Player Profile", player_path(current_player), class: 'ui item' %>
            <% if current_player.team_id %>
              <%= link_to "Team Profile", team_path(current_player.team_id), class: 'ui item' %>
              <%= link_to "New Match", new_match_path, class: 'ui item' %>
              <%= link_to "Find Match", matches_path, class: 'ui item' %>
              <%= link_to "Teams", teams_path, class: 'ui item' %>
              <%= link_to "Players", players_path, class: 'ui item' %>
            <% else %>
              <%= link_to "Create Team", new_team_path, class: 'ui item' %>
              <%= link_to "Teams", teams_path, class: 'ui item' %>
              <%= link_to "Players", players_path, class: 'ui item' %>
            <% end %>
          </div>
        </div>

        <%= link_to "Sign Out", signout_path, method: 'delete', class: 'ui item' %>

      <% elsif current_field_owner %>
        <div class="ui inline dropdown item">
          <%= current_field_owner %> <i class="dropdown icon"></i>
          <div class="ui menu">
            <%= link_to 'Field Management', field_owner_path(current_field_owner), class: 'ui item' %>
          </div>
        </div>

        <%= link_to "Sign Out", signout_path, method: 'delete', class: 'ui item' %>

      <% else %>
        <a class="item" href="<%= signin_path %>">
          Sign in
        </a>
        <a class="item" href="<%= new_player_path %>">
          Sign up
        </a>
      <% end %>
    </div>
  </div>
</div>
<br><br>